#content{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	position: relative;
	color: #fff;
}
/*设置视觉深度和溢出不显示*/
#content div{
	overflow: hidden;
	-webkit-perspective: 1200px;
	
}
/*设置初始视觉深度和调用过度*/
#content div img{
	-webkit-transition: all 1s;
	transform: translateZ(80px);
}
/*鼠标移动到div上时图片视觉距离改变*/
#content div:hover img{
	transform: translateZ(230px);
}
/*鼠标移动到div上时子div调用过度*/
#content div div{
	-webkit-transition: all 1s;
}
/*鼠标移动到div上时子div调用过度改变字体颜色*/
#content div:hover div{
	color: #000;
	
}
/*鼠标移动到div上时子.bm调用过度*/
#content div .bm{
	-webkit-transition: all 1s;
}
/*鼠标移动到div上时子.bm调用过度改变的属性*/
#content div:hover .bm{
	background: #CCCCCC;
	color: #fff;
	border: 2px solid #fff;
	font-weight: bolder;
	font-size: 12px;
}
#content_1 img{
	width: 400px;
}
#content_1{
	width: 400px;
	height: 400px;
	color: black;
}
.content_1{
	width: 300px;
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 8px;
}
.content_1 h3{
	font-size: 16px;
	font-weight: 400;
}
#content_2{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 400px;
}
#content_2 img{
	width: 200px;
}
#content_3{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 200px;
	left: 400px;
}
#content_3 img{
	width: 200px;
}
#content_4{
	height: 200px;
	width: 400px;
	position: absolute;
	top: 0;
	right: 0;
}
#content_4 img{
	width: 400px;
	height: 220px;
	position: absolute;
	top: -20px;
	left: 0;
}
#content_4bg_1{
	background: rgba(87,86,118,.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 1s;
	text-align: center;
	box-sizing: border-box;
	padding-top: 40px;
}
/*按钮样式*/
.bm{
	display:inline-block;
	line-height: 30px;
	width: 60px;
	color: #fff;
	font-size: 8px;
	margin-top: 20px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 5px;
}
#content_4bg_1:hover{
	background: rgba(87,86,118,.1);
}
#content_4bg_1 p{
	font-size: 8px;
}
#content_4bg_1 h3{
	margin-bottom: 20px;
}
#content_5{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 400px;
	left: 0;
}
#content_5 img{
	width: 200px;
}
#content_6{
	height: 200px;
	width: 400px;
	position: absolute;
	top: 400px;
	left: 200px;
}
#content_6 img{
	width: 400px;
}
#content_6bg_1 p{
	font-size: 8px;
}
#content_6bg_1 h3{
	margin-bottom: 20px;
}
#content_6bg_1{
	background:linear-gradient(136deg,rgba(255,95,30,.7) 50%,rgba(247,188,77,.7) 70%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	box-sizing: border-box;
	padding-top: 40px;
}
#content_6bg_1:hover{
	background:transparent;
	
	animation-name: gradient;
	animation-duration: .3s;
	animation-timing-function: linear;
}
/*线性颜色渐变动画*/
@-webkit-keyframes gradient{
	0%{
		background:linear-gradient(136deg,rgba(255,95,30,.7) 50%,rgba(247,188,77,.7) 70%);
	}
	25%{
		background:linear-gradient(136deg,rgba(242,122,77,.6) 50%,rgba(247,188,77,.6) 70%);
	}
	50%{
		background:linear-gradient(136deg,rgba(242,122,77,.4) 50%,rgba(247,188,77,.4) 70%);
	}
	75%{
		background:linear-gradient(136deg,rgba(242,122,77,.2) 50%,rgba(247,188,77,.2) 70%);
	}
	100%{
		background:linear-gradient(136deg,rgba(242,122,77,.1) 50%,rgba(247,188,77,.1) 70%);
	}
}
#content_7{
	height: 400px;
	width: 400px;
	position: absolute;
	top: 200px;
	right: 0;
}
#content_7 img{
	width: 400px;
}